#### Aliases ####

# Common
alias c='clear'

# Git
alias g='git status'
alias gad='git add'
alias gca='git commit -am'
alias gco='git checkout'
alias gp='git pull'
alias gpu='git push'

# PHP Artisan
alias pa='php artisan'
alias pagm='php artisan generate:model'
alias pagr='php artisan generate:resource'
alias pagc='php artisan generate:controller'
alias pagmi='php artisan generate:migration'
alias pags='php artisan generate:seed'
alias pas='php artisan serve'

# Veewee 
#alias veewee='bundle exec veewee'


# ssh into any vagrant box that is up
alias sshv='ssh vagrant@127.0.0.1 -p 2222'
